SatSim/ant/*
SatSim/bin/*
SatSim/build/*
SatSim/delivery/*
SatSim/generation/*
*.log
*.res
*res.swp
SatSim/.binprojects
SatSim/.classpath
SatSim/.cproject
SatSim/.project
SatSim/core
SatSim/simtg@local
