SatSim/ant/*
SatSim/bin/*
SatSim/build/*
SatSim/delivery/*
SatSim/generation/*
SatSim/baffles.log
SatSim/sat.log
SatSim/.binprojects
SatSim/.classpath
SatSim/.cproject
SatSim/.project
SatSim/core
SatSim/simtg@local
